name: Release

on:
  pull_request:
    types: [closed]
    branches: [master]

jobs:
  release:
    if: github.event.pull_request.merged == true
    name: Release
    runs-on: ubuntu-latest
    
    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ github.ref }}
          fetch-depth: 0 # Fetches the entire Git history (all commits, tags, and branches)

      - name: Install packages
        run: npm install

      - name: Start
        run: npm start
